$primary-grey: #bfbfbf;
// $primary-color-2: ;
// $primary-color-3: ;

// $secondary-color-1: ;
// $secondary-color-2: ;
// $secondary-color-3: ;

// $color-1: ;
// $color-2: ;
// $color-3: ;

$background-1: #202020;
$background-2: #161515;
$background-3: #393939;
$background-4: #0c0c0c;
$background-5: #000000cc;
$background-6: #0c0b0b;
$background-7: rgb(53, 53, 53);

$gradient-1: rgba(4, 4, 4, 1);
$gradient-2: rgba(21, 21, 21, 1);
$gradient-3: rgba(30, 30, 30, 1);
$gradient-4: rgba(21, 21, 21, 0);

$border-1: #707070;
$border-2: #4d4d4d;
$border-3: #70707070;
$border-4: #7070702e;
$border-5: rgb(112, 112, 112);

$box-shadow-1: rgba(255, 255, 255, 0.1);
$box-shadow-2: rgba(255, 255, 255, 0.3);
// $box-shadow-3: ;

$white: #fff;
$black: #000;
